body { font-family:Arial, Helvetica, sans-serif; }

body { width: 75%; margin: auto; max-width: 1000px; margin-left:300px; padding-left: 40px;}
body, p { font-size: 12pt; color: #222; }

h1.title { font-size: 24pt; text-transform: uppercase ; color: #111 ; font-weight: normal;}
h1, h2, h3 { font-family: 'Palatino', Georgia, Times, 'Times New Roman', serif }
h1 { font-size: 1.4em; text-transform: normal; font-weight: bold; color: #00485c; 
    margin-top: 1em; margin-bottom: .4em; border-bottom: 1px solid #444;
}
h2 { font-size: 1.1em;  font-weight: bold;}
p { margin: 0.7em 0 0 0; }
ul { list-style: "-"; margin: 0.5em; padding-left: 1em; text-indent: -1em; padding-right: 2em; }
li { padding-left: 1em; text-indent: -1em; padding-right: 2em;}
a { text-decoration: none; border-bottom: 1px dashed #bbb; color: #000; }
a:hover, #foot a:hover { color: #444; border-bottom: 1px dashed #444; }
code { font-size: 10pt; background-color: #f4f4f4; padding: 2px; box-shadow: 1px 1px 2px #ddd; }
#downloads { position: absolute; top: 1em; right: 1em; color: #777; font-style: italic; font-size: 0.8em; }
#online_resume { display: none; }
#clear_foot { height: 3em; }
hr { display: none; }

@media print {
body { width: 92%; margin: auto; }
h1 { font-size: 16pt; }
h2 { font-size: 12pt; margin-top: 2em; }
body, p, li { font-size: 10pt; }
code {font-size: 8pt; background-color: #eee; padding: 2px;}
hr { display: block; page-break-after: always; padding: 0; margin: 0; border: 0; }
#downloads { display: none; }
#online_resume { display: block; text-align: center; color: #777; font-style: italic; font-size: 10pt; }
}


/* The sidebar menu */
#TOC {
    /* height: 100%; Full-height: remove this if you want "auto" height */
    width: 300px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #f6f6f6; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
    margin-top: 5px;
  }
  
  /* The navigation menu links */
  #TOC a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-family: Helvetica, Arial sans-serif;
    font-size: 0.9em;
    color: #111111;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  #TOC a:hover {
    color: #444444;
    text-decoration: underline;
  }
  